body{
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #f2f2f2;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr2{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

a:active {
  color: white;
}

#link { 
  color: white; 
}

.btn{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 50%;
}

.btn:hover{
  color: white;
}

.dropdown{
  color: white;
  text-indent:10px;
}

.dropdown-header{
  color: white;
}

.dropdown-menu{
  background-color: black;
  width: 100px;
  outline: black;
}

#icon{
  font-size: 45px;
}

#hicon {
  color: black;
}

#head{
  color: white;
}


.contact{
  text-align: center;
}


h1{
	color: black;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
}

h3{
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif; 
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}

.div2{
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.loggedin{
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #cfcfcf;
  border-radius: 12px;
  background-color: white;
}

.div3{
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#fname{
  align-items: center;
}

.camera-div{
  border: 2px solid #cfcfcf;
  border-radius: 12px;
  background-color: white;
}

#video{
  margin: 0.3em 0em 0em 0em;
}


#snap{
  margin: 0.3em 0em 0em 0em;
}

#alert{
  margin-bottom: 0px;
}

.error{
  color: red;
}