{% extends "layout.html" %}
{% block content %}
<!-- As a heading -->
<nav class="navbar navbar-light bg-dark">
    <span id="head" class="navbar-brand mb-0 h1"><a id="link" style="text-decoration: none;" href="/home">facial.recognition</a></span>
</nav>

<br>
<div class="div1">
  <h1 id="welcome">Register</h1>
  <hr>
</div>

<br><br>
<div class="div2">
  <form method="POST">
    <!-- Protection -->
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <!-- Name Setting -->
      <div class="form-group">
        <h3>Please Set Your Name</h3>
            {{ form.username(class="form-control form-control-lg") }}
      </div>
    </fieldset>
    <!-- PHOTO SCAN -->
    <br>
    <h3>Please Take a Photo</h3>
    <div class="camera-div">
      <video id="video" width="250" height="250" autoplay></video>
      <canvas id="canvas" width="350" height="250"></canvas>
    </div>

    <div class="camera-btn-div">
      <button type="Button" class="button" id="snap" onclick="camera()">Open Camera</button>
      <!-- Take photo button acts as a submit, requires a username to be entered. -->
      <!-- BUTTON NEEDS TO BE ATTACHED TO FORM FOR SUBMITING TO DATABASE -->
      {{form.submit(class="button", onclick="takePhoto()", id="video", type="submit", download="register_photo.jpg")}}

      <!-- <a href="/Camera">Take Photo</a> -->
    </div>
    <br>
  </form>

  <script type="text/javascript" src="../static/script/script.js"></script>
</div>
{% endblock %}
