{% extends 'layout.html' %}
<h1>Home</h1>
<!DOCTYPE html>
    <html>
    <head>
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
        <title>Logged Out</title>
        {% endblock %}
    </head>
        <body>
            {% block body%}
            <nav class="navbar navbar-light bg-dark">
                <span id="head" class="navbar-brand mb-0 h1"><a id="link" style="text-decoration: none;" href="/home">facial.recognition</a></span>
                  <span class="caret"></span></button>
            </nav>
            
            <br>
            <div class="div1">
              <h1 id="welcome">You have Logged Out! {{ current_user.username }}</h1>
              <hr>
            </div>
            
            <br><br>
            </div>
            {%endblock%}
        </body>
    </html> 




