{% extends 'layout.html' %}
<h1>Home</h1>
<!DOCTYPE html>
    <html>
    <head>
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
        <title>Register</title>
        {% endblock %}
    </head>
        <body>
            {% block body%}
            <nav class="navbar navbar-light bg-dark">
                <span id="head" class="navbar-brand mb-0 h1"><a id="link" style="text-decoration: none;" href="/home">facial.recognition</a></span>
                <div class="dropdown">
                  <button class="btn bg-dark dropdown-toggle" type="button" data-toggle="dropdown">
                  <i style="font-size:24px" class="fa">&#xf05a;</i>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu bg-dark">
                      <li class="dropdown-header">Team</li><hr class="hr2">
                      <li><a href="https://github.com/KennyThomas" target="_blank"> Thomas</a></li>
                      <li><a href="https://github.com/Moran98" target="_blank"> Aaron</a></li>
                      <li><a href="https://github.com/ArnasSteponavicius" target="_blank"> Arnas</a></li>
                  </ul>
                </div>
            </nav>
            <br>
        <div class="div1">
            <h1 id="welcome"> Login PHOTO VERIFICATION</h1>
            <hr>
        </div>

        <div class="div2">
            <button class="button" onclick="location.href='{% url 'scriptLogin'%}'">VERIFY PHOTO</button>
        </div>
            {%endblock%}
        </body>
    </html> 




