{% extends "layout.html" %}
{% block content %}
<!-- As a heading -->
<nav class="navbar navbar-light bg-dark">
    <span id="head" class="navbar-brand mb-0 h1"><a id="link" style="text-decoration: none;" href="/home">facial.recognition</a></span>
</nav>

<br>
<div class="div1">
  <h1 id="welcome">Login</h1>
  <hr>
</div>

<br><br>
<div class="div2">
  <form method="[POST. GET]">
    <!-- Protection -->
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <!-- Name Setting -->
      <div class="form-group">
        <h3>Please Enter Your Name</h3>
            {{ form.username(class="form-control form-control-lg") }}
      </div>
    </fieldset>
<!--     <div class="form-group">
      {{form.submit(class="button")}}
    </div> -->

    <!-- PHOTO SCAN -->
    <br><br>
    <h3>Please Take a Photo</h3>
    <button class="button" onclick="camera()">Open Camera</button>
    <canvas id="canvas" width="0" height="80"></canvas>
    <br><br><br>
    <video id="video" width="450" height="300" autoplay></video>
  </form>

    <script type="text/javascript" src="../static/script/script.js"></script>
</div>
{% endblock %}
